<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=PollaGol</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">black160594</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <mapping resource="entity/Perfil.hbm.xml"/>
    <mapping resource="entity/Sysdiagrams.hbm.xml"/>
    <mapping resource="entity/UsuarioJuego.hbm.xml"/>
    <mapping resource="entity/HistorialGanadores.hbm.xml"/>
    <mapping resource="entity/Usuario.hbm.xml"/>
    <mapping resource="entity/Menu.hbm.xml"/>
    <mapping resource="entity/Pozo.hbm.xml"/>
    <mapping resource="entity/Sorteo.hbm.xml"/>
    <mapping resource="entity/JuegoSorteo.hbm.xml"/>
    <mapping resource="entity/Juego.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
